body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}
header {
  font-size: .875rem;
  font-weight: 700;
  min-width: 320px;
  color:black;
  background-color: #ffffff;
  box-shadow: 0 0 12px #00000017;
  position: relative;
  z-index: 5;
  width: auto
}
 .img_swiper{
  height: 550px;
  box-shadow: 0 0 12px #00000017;
 }














 



  


