.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    overflow-y: auto;
    
    z-index: 999;
}
.popup_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}
.popup_content{
    position: relative;
    margin: 20px;
    width: 100%;
    max-width: 320px;
    border-radius: 10px;
    background-color: white;
    padding: 40px 30px 40px 30px;
    transform: translateY(-50px);
    
}
.popup_close_button{
    position: relative;
    border-width: 0;
    background-color: transparent;
}
.top_button{
    position: absolute;
    left: 89%;
    top: 1%;
    
}
.inputs{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
.input_item{
    display: grid;
    grid-template-columns: 1fr;
}
.input_pole{
    background-color: rgba(255, 255, 24, 0.116);
    padding: 1.7%;
    border-width: 1px;
    
}
.default_button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(191, 0, 0);
      color: #ffffff;
      border-radius: .125rem;
      border-width: 0;
      box-shadow: 0 0 15px #000000a6;
      font-size: .875rem;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 1.25rem;
      padding: 17px 40px;
      text-transform: uppercase;
      transition: all .5s;
      display: flex;
      flex-direction: row;
      cursor: pointer;
  }
  .default_button:hover{
    background-color: rgb(122, 122, 122);
  }
  .buttom_img{
   margin-left: 10px;
  }
  .button_container_popup{
    position: relative;
    width: 248px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }
  .input_pole_comment{
    background-color: rgba(255, 255, 24, 0.116);
    padding: 1.7%;
    padding-bottom: 20%;
    border-width: 1px;
    max-width: 308px;
    max-height: 60px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
  }
  