/* Кнопка на карусели */
.call_button_container {
  position: absolute;
  z-index: 3;
  margin-left: auto;
  margin-right: auto;
  top: 360px;
  left: 0;
  right: 0;
}

.button_container {
  position: relative;
  width: 248px;
  left: 50%;
  transform: translateX(-50%);
}
.default_button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(191, 0, 0);
  color: #ffffff;
  border-radius: 0.125rem;
  border-width: 0;
  box-shadow: 0 0 15px #000000a6;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.25rem;
  padding: 17px 40px;
  text-transform: uppercase;
  transition: all 0.5s;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.default_button:hover {
  background-color: rgb(122, 122, 122);
}
.buttom_img {
  margin-left: 10px;
}
.link_button {
  text-decoration: none;
  color: #000000;
}

@media (max-width: 450px) {
  .call_button_container {
    position: absolute;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    top: 420px;
    left: 0;
    right: 0;
  }
}
